{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Selecciona una tupla para actualizar {% endblock %}</h1>
    <form method="post">
        <label for="table">Selecciona una tupla</label>
        <select name="column_name" id="table">
            {% for option in options %}
              {% for value in option %}
                <option value="{{ value }}">{{ value }}</option>
              {% endfor %}
            {% endfor %}
        </select>
        <p>
          <label for="oldValue">Valor</label>
          <input type="text" name="oldValue"
                placeholder="Valor anterior">
          </input>
        </p>
        <p>
          <label for="newValue">Valor</label>
          <input type="text" name="newValue"
                placeholder="Valor nuevo">
          </input>
        </p>
        <p>
            <button type="submit">Enviar</button>
        </p>
    </form>

{% endblock %}