{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Selecciona una tabla para actualizar {% endblock %}</h1>
    <form method="post">
        <label for="table">Selecciona una actualizar</label>
        <select name="table" id="table">
            {% for option in options %}
                <option value="{{ option.0 }}">{{ option.1 }}</option>
            {% endfor %}
        </select>
        <p>
            <button type="submit">Enviar</button>
        </p>
    </form>

{% endblock %}